
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Arial', sans-serif;
line-height: 1.6;
color: #333;
}
header {
background-color: #333;
color: white;
padding: 10px 0;
}

nav ul {
list-style-type: none;
display: flex;
justify-content: center;
}

nav ul li {
margin: 0 15px;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
font-size: 1.1rem;
}


.about-section {
padding: 50px 20px;
background-color: #f4f4f4;
}

.container {
max-width: 800px;
margin: 0 auto;
text-align: center;
}

.about-section h1 {
font-size: 3rem;
margin-bottom: 20px;
}

.about-section p, .about-section ul {
font-size: 1.2rem;
margin-bottom: 20px;
}

.about-section ul {
list-style-type: disc;
padding-left: 40px;
text-align: left;
}

.about-section h2 {
font-size: 2rem;
margin-top: 30px;
margin-bottom: 10px;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
position: relative;
bottom: 0;
width: 100%;
}

@media (max-width: 768px) {
.about-section h1 {
    font-size: 2rem;
}

.about-section h2 {
    font-size: 1.5rem;
}

.about-section p, .about-section ul {
    font-size: 1rem;
}
}
  